<div>
    <table class="page1 basicTable">
        <tr>
            <td>
                <table class="table1">
                    <tr>
                        <td style="width: 500px">
                            <div class="firma">Firma</div>
                            <div style="font-size: large; text-align: right">Cestovní příkaz</div><br />
                            <div class="left">1. Příjmení, jméno, titul</div>
                            <div class="dotted">{{ travelOrder.tripUser.fullName }}</div>
                            <div class="left">2. Bydliště</div>
                            <div class="dotted"></div>
                        </td>
                        <td style="width: 300px;">
                            <div class="left">Osobní číslo:</div>
                            <div class="dotted"></div>
                            <div class="left">Útvar:</div>
                            <div class="dotted"></div>
                            <div class="left">Telefon, linka:</div>
                            <div class="dotted"></div>
                            <div style="padding: 1px 0.5em">Pracovní doba</div>
                            <div class="left">Od:</div>
                            <div class="dotted"></div>
                            <div class="left">Do:</div>
                            <div class="dotted"></div>
                        </td>
                    </tr>
                </table>
                <table class="table2">
                    <tr>
                        <td style="width: 200px">
                            Počátek cesty<br>
                            (místo, datum, hodina)
                        </td>
                        <td style="width: 200px">
                            Místo jednání<br>
                        </td>
                        <td style="width: 200px">
                            Účel cesty<br>
                        </td>
                        <td style="width: 200px">
                            Konec cesty<br>
                            (místo, datum)
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px; height: 200px">
                            {{ travelOrder.fromPosition }}
                        </td>
                        <td style="width: 200px">
                        </td>
                        <td style="width: 200px">
                            {{ travelOrder.purpose }}
                        </td>
                        <td style="width: 200px">
                            {{ travelOrder.toPosition }}
                        </td>
                    </tr>
                </table>
                <table class="table3" >
                    <tr>
                        <td style="width: 800px">
                            <div class="left">3. Spolucestující</div>
                            <div class="dotted"></div>
                            <div class="left">4. Určený dopravní prostředek</div>
                            <div class="dotted"></div>
                            <table class="noborder">
                                <tr>
                                    <td style="width:300px;">
                                        <div class="left">5. Povolená záloha Kč</div>
                                        <div class="dotted"></div>
                                    </td>
                                    <td style="width:200px;">
                                        <div class="left">vyplacena dne</div>
                                        <div class="dotted"></div>
                                    </td>
                                    <td style="width:300px;">
                                        <div class="left">pokl. doklad číslo</div>
                                        <div class="dotted"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:300px;">
                                        <div>&nbsp;</div>
                                    </td>
                                    <td style="width:200px;">
                                    </td>
                                    <td style="width:300px;">
                                        <div></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:300px;">
                                        <div class="dotted"></div>
                                    </td>
                                    <td style="width:200px;">
                                    </td>
                                    <td style="width:300px;">
                                        <div class="dotted"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:300px;">
                                        <div style="text-align: center">Podpis pokladníka<br /></div>
                                        <br />
                                    </td>
                                    <td style="width:200px;">
                                    </td>
                                    <td style="width:300px;">
                                        <div style="text-align: center">Datum a podpis pracovníka oprávněného<br /> k povolení cesty</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="table4">
                    <tr>
                        <td style="width: 800px">
                            <div style="text-align: center; font-size: large">VYÚČTOVÁNÍ PRACOVNÍ CESTY</div>
                            <br />
                            <div class="left">6. Zpráva o výsledku pracovní cesty byla podána dne:</div>
                            <div class="dotted"></div>
                            <div class="left">Se způsobem provedení souhlasí:</div>
                            <div class="dotted"></div>
                            <div class="left">Datum a podpis odpovědného pracovníka:</div>
                            <div class="dotted"></div>
                        </td>
                    </tr>
                </table>
                <table class="table4">
                    <tr>
                        <td style="width: 400px">
                            <div class="left divBold">7. Výdajový - příjmový pokladní doklad číslo</div>
                            <div class="dotted"></div>
                            <div class="left">Účtovaná náhrada byla přezkoušena a upravena na</div>
                            <div class="right">Kč</div>
                            <div class="dotted"></div>
                            <div class="left">Vyplacená záloha</div>
                            <div class="right">Kč</div>
                            <div class="dotted"></div>
                            <div class="left">Doplatek - přeplatek</div>
                            <div class="right">Kč</div>
                            <div class="dotted"></div>
                            <div class="left">Slovy</div>
                            <div class="dotted"></div>
                        </td>
                        <td style="width: 400px">
                            <table style="width: 100%">
                                <tr>
                                    <td style="width:100%;" colspan="5">
                                        <div class="divBold">Účtovací přepis</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%;">
                                        Má dáti
                                    </td>
                                    <td style="width:20%;">
                                        Dal
                                    </td>
                                    <td style="width:20%;">
                                        Částka
                                    </td>
                                    <td style="width:20%;">
                                        Středisko
                                    </td>
                                    <td style="width:20%;">
                                        Zakázka
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%;">
                                    </td>
                                    <td style="width:20%;">
                                    </td>
                                    <td style="width:20%;">
                                    </td>
                                    <td style="width:20%;">
                                    </td>
                                    <td style="width:20%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%;">
                                    </td>
                                    <td style="width:20%;">
                                    </td>
                                    <td style="width:20%;">
                                    </td>
                                    <td style="width:20%;">
                                    </td>
                                    <td style="width:20%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%;">
                                    </td>
                                    <td style="width:20%;">
                                    </td>
                                    <td style="width:20%;">
                                    </td>
                                    <td style="width:20%;">
                                    </td>
                                    <td style="width:20%;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="noborder">
                    <tr>
                        <td style="width:150px;">
                            <div>&nbsp;</div>
                        </td>
                        <td style="width:50px;">
                        </td>
                        <td style="width:150px;">
                            <div></div>
                        </td>
                        <td style="width:50px;">
                        </td>
                        <td style="width:150px;">
                            <div></div>
                        </td>
                        <td style="width:50px;">
                        </td>
                        <td style="width:150px;">
                            <div></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:150px;">
                            <div class="dotted"></div>
                        </td>
                        <td style="width:50px;">
                        </td>
                        <td style="width:150px;">
                            <div class="dotted"></div>
                        </td>
                        <td style="width:50px;">
                        </td>
                        <td style="width:150px;">
                            <div class="dotted"></div>
                        </td>
                        <td style="width:50px;">
                        </td>
                        <td style="width:150px;">
                            <div class="dotted"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:150px;">
                            <div style="text-align: center">Datu a podpis pracovníka,<br />který upravil vyúčtování</div>
                            <br />
                        </td>
                        <td style="width:50px;">
                        </td>
                        <td style="width:150px;">
                            <div style="text-align: center">Datum a podpis příjemce<br />(průkaz totožnosti)</div>
                        </td>
                        <td style="width:50px;">
                        </td>
                        <td style="width:150px;">
                            <div style="text-align: center">Datum a podpis <br />pokladníka</div>
                        </td>
                        <td style="width:50px;">
                        </td>
                        <td style="width:150px;">
                            <div style="text-align: center">Schválil, datum a podpis<br /></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>