/.idea/*
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/config/parameters.yml
/app/bootstrap.php.cache
/vendor/
/src/Nil/Resources/
/web/assetic/*
/web/bundles/*
/web/js/*
/web/css/*
/web/temp/*
composer.lock