{% extends 'base.html.twig' %}

{% block body %}

    <ul id="navigation">
        {% for item in navigation %}
            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
