parameters:
    database_driver:   pdo_mysql
    database_host:     mysql.charon4
    database_port:     3306
    database_name:     rdr
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en-US
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          false
    debug_redirects:        false
    use_assetic_controller: true

    jmose_command_scheduler.log_path: app/logs/

    session_memcached_host:     localhost
    session_memcached_port:     11211
    session_memcached_prefix:   sysdo_sess
    session_memcached_expire:   3600