<!--suppress CssUnusedSymbol -->
<style type="text/css">
    .basicTable td, .basicTable th {
        border: black solid 1px;
    }
    .page1 td {
        padding: 1em;
    }
    .page1 div{
        height:1em ;
    }
    .left,.right{
        padding:1px 0.5em;
        background:#ffffff !important;
        float:right;
    }
    .left{
        float:left;
        clear:both;
    }

    .dotted{
        border-bottom: 1px dotted grey;
        margin-bottom:2px;
    }
    .noborder td {
        border: none !important;
        padding: 0;
    }
    .divBold {
        font-weight: bold;
    }
    .textRotate{
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
    }
    .page2 th {
        padding: 1em 0.5em;
        text-align: center;
    }
    .tdAlignCenter { text-align: center;}
    .page2 td.noborderLeftRightBottom {
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
    .page2.noborder td, .page2 td.noborder {
        border: none;;
    }
    .page2 td {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .page2 .noOverflow150 {
        text-overflow:ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 150px
    }
</style>
{% include '@ProjBussinesTrip/Report/travelOrder/page1.html.twig' %}
{% for page in 1..travelOrder.page %}
<div style="page-break-after: always">&nbsp;</div>
{% include '@ProjBussinesTrip/Report/travelOrder/page2.html.twig' %}
{% endfor %}

