{% extends 'ProjBaseBundle::layout.html.twig' %}

{% block body %}
    <button type="button" class="btn btn-success" onclick="{{ dialog.render(false, false) }}">
        <span class="glyphicon glyphicon-16 glyphicon-plus"></span>
        <span style="font-size: 14px">{{ 'form.add'|trans }}</span>
    </button>
    <div>
        {{ grid.render(false)|raw }}
    </div>
{% endblock %}